:root                  {
    --bg: #000  ;
    --texto: #fff ;
    --textoControl: "ninja" ;
} [data-theme="light"] {
    --bg: #fff  ;
    --texto: #000 ;
    --textoControl: "angel" ;
}
html,body {
    background-color: var(--bg)  ;
    color: var(--texto) ;
}
.control::before {
    content: var(--textoControl);
}
